@model GuildCars.UI.Models.RegisterViewModel
@{
    ViewBag.Title = "Add User";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="col-xs-12 col-md-9">
                <div class="form-group">
                    <label for="add-employee-first-name-box" class="col-xs-2 control-label">
                        Employee Name:
                    </label>
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.Employee.FirstName, new { @class = "form-control", @id = "add-employee-first-name-box", @placeholder = "First Name" })
                    </div>
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.Employee.LastName, new { @class = "form-control", @id = "add-employee-last-name-box", @placeholder = "Last Name" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "add-user-email-box", @placeholder = "Email Address" })
                    </div>
                    <label for="add-user-role-dropdown" class="col-xs-2 control-label">
                        Role:
                    </label>
                    <div class="col-xs-4">
                        @Html.DropDownListFor(m => m.Employee.DepartmentId, Model.DepartmentItems, new { @class = "form-control", @id = "add-user-role-dropdown", })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-4 col-sm-2">
                        <input type="submit" class="btn btn-default" value="Add Employee" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>
