@model GuildCars.UI.Models.ViewModels.AddVehicleVM

@{
    ViewBag.Title = "Add Vehicle";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("AddVehicle", "Admin", FormMethod.Post, new { @class = "form-horizontal", @id = "add-vehicle-form", enctype = "multipart/form-data" }))
        {
            //@Html.ValidationSummary()
            <div class="col-xs-12 col-md-8">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.MakeName, Model.MakeItems, "-Make-", new { @class = "form-control btn btn-default", @id = "add-vehicle-make-dropdown" })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.MakeName)</div>
                        </div>
                        <div class="col-xs-6">
                            <select id="add-vehicle-model-dropdown"
                                    class="form-control btn btn-default"
                                    name="ModelName"
                                    required>
                                <option disabled selected>-Model-</option>
                                @foreach (var makeModel in Model.MakeModels)
                                {
                                    if (makeModel.Make == Model.MakeName)
                                    {
                                        if (makeModel.Model == Model.ModelName)
                                        {
                                            <option selected value="@makeModel.Model">@makeModel.Model</option>
                                        }
                                        else
                                        {
                                            <option value="@makeModel.Model">@makeModel.Model</option>
                                        }
                                    }
                                }
                            </select>
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.ModelName)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.ModelYear, new { @class = "form-control", @id = "add-vehicle-modelYear", @placeholder = "Model Year" })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.ModelYear)</div>
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.BodyStyleId, Model.BodyStyleItems, "-Body Style-", new { @class = "form-control btn btn-default", @id = "add-vehicle-bodyStyle-dropdown" })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.BodyStyleId)</div>
                        </div>
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Mileage, new { @class = "form-control", @id = "add-vehicle-mileage", @placeholder = "Mileage" })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.Mileage)</div>
                        </div>
                        <div class="col-xs-6">
                            <!--this field is populated dynamically when user enters mileage-->
                            @Html.DropDownListFor(m => m.VehicleTypeId, Model.VehicleTypeItems, "-Vehicle Type-", new { @class = "form-control btn btn-default", @id = "add-vehicle-vehicleType-dropdown" })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.VehicleTypeId)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <select id="add-vehicle-color-dropdown"
                                    class="form-control btn btn-default"
                                    name="ColorId"
                                    required>
                                <option disabled selected>-Color-</option>
                                @foreach (var color in Model.ColorItems)
                                {
                                    if (color.Name == "White" || color.Name == "Tan" || color.Name == "Silver" || color.Name == "Gray")
                                    {
                                        if (color.ColorId == Model.ColorId)
                                        {
                                            <option selected value="@color.ColorId" style="background-color:@color.ColorCode; color: black">@color.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@color.ColorId" style="background-color:@color.ColorCode; color: black">@color.Name</option>
                                        }
                                    }

                                    else
                                    {
                                        if (color.ColorId == Model.ColorId)
                                        {
                                            <option selected value="@color.ColorId" style="background-color:@color.ColorCode; color: white">@color.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@color.ColorId" style="background-color:@color.ColorCode; color: white">@color.Name</option>
                                        }
                                    }
                                }
                            </select>
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.ColorId)</div>
                        </div>
                        <div class="col-xs-6">
                            <select id="add-vehicle-interiorColor-dropdown"
                                    class="form-control btn btn-default"
                                    name="InteriorColorId"
                                    required>
                                <option disabled selected>-Interior Color-</option>
                                @foreach (var color in Model.InteriorColorItems)
                                {
                                    if (color.Name == "Cream" || color.Name == "Tan")
                                    {
                                        if (color.InteriorColorId == Model.InteriorColorId)
                                        {
                                            <option selected value="@color.InteriorColorId" style="background-color:@color.ColorCode; color: black">@color.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@color.InteriorColorId" style="background-color:@color.ColorCode; color: black">@color.Name</option>
                                        }
                                    }

                                    else
                                    {
                                        if (color.InteriorColorId == Model.InteriorColorId)
                                        {
                                            <option selected value="@color.InteriorColorId" style="background-color:@color.ColorCode; color: white">@color.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@color.InteriorColorId" style="background-color:@color.ColorCode; color: white">@color.Name</option>
                                        }
                                    }
                                }
                            </select>
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.InteriorColorId)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.TransmissionTypeId, Model.TransmissionTypeItems, "-Transmission Type-", new { @class = "form-control btn btn-default", @id = "add-vehicle-transmissionType-dropdown" })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.TransmissionTypeId)</div>
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.VIN, new { @class = "form-control", @id = "add-vehicle-vin", @placeholder = "VIN #" })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.VIN)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.MSRP, new { @class = "form-control", @id = "add-vehicle-msrp", @placeholder = "MSRP" })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.MSRP)</div>
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.SalePrice, new { @class = "form-control", @id = "add-vehicle-salePrice", @placeholder = "Sale Price" })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.SalePrice)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "add-vehicle-msrp", @placeholder = "Description", @rows = "10" })
                            <div class="text-danger">@Html.ValidationMessageFor(m => m.Description)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="col-xs-12"><h4>Vehicle Image Upload</h4></div>
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span id="browse-button" class="btn btn-primary">
                                            Browse&hellip; <input type="file" style="display: none;" name="file">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly >
                                </div>
                                <div class="text-danger">@Html.ValidationMessageFor(m => m.File)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-4">
                        <input type="submit" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#add-vehicle-vehicleType-dropdown').prop('disabled', true);

        $('#add-vehicle-form select').each(function () {
            $(this).children('option').first().prop('disabled', true);
            //$(this).children('option').first().prop('selected', true);
        });

        $('#add-vehicle-form input').not('input[type=submit]').each(function () {
            var thisInput = $(this);

            if (thisInput.val() == '0') {
                thisInput.val('');
            }
        });

        $('#add-vehicle-mileage').on('input', function (e) {
            if (parseInt($('#add-vehicle-mileage').val()) < 1000) {
                $('#add-vehicle-vehicleType-dropdown').val('1');
            }
            else if (parseInt($('#add-vehicle-mileage').val()) >= 1000) {
                $('#add-vehicle-vehicleType-dropdown').val('2');
            }
            else {
                $('#add-vehicle-vehicleType-dropdown').val('');
            }
        });

        $('#add-vehicle-form').submit(function () {
            $('#add-vehicle-vehicleType-dropdown').prop('disabled', false);

            setTimeout(function () {
                $('#add-vehicle-vehicleType-dropdown').prop('disabled', true);
              }, 1000);
        });

        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });
    });
</script>