@model IEnumerable<GuildCars.Models.Queries.InventoryReportRequestItem>

@{
    ViewBag.Title = "Inventory Report";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <h3>New Vehicles</h3>
        </div>
        <div id="new-inventory-container" class="col-xs-12 col-md-6">
            <div class="table-responsive">
                <table id="new-inventory-table" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Count</th>
                            <th>Stock Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vehicle in Model)
                        {
                            if (vehicle.VehicleTypeId == 1)
                            {
                                <tr>
                                    <td class="col-md-1">
                                        @vehicle.ModelYear
                                    </td>
                                    <td class="col-md-3">
                                        @vehicle.MakeName
                                    </td>
                                    <td class="col-md-3">
                                        @vehicle.ModelName
                                    </td>
                                    <td class="col-md-2">
                                        @vehicle.VehiclesInStock
                                    </td>
                                    <td class="col-md-3">
                                        @String.Format("{0:C2}", vehicle.StockValue)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <h3>Used Vehicles</h3>
        </div>
        <div id="used-inventory-container" class="col-xs-12 col-md-6">
            <div class="table-responsive">
                <table id="used-inventory-table" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-1">Year</th>
                            <th class="col-md-3">Make</th>
                            <th class="col-md-3">Model</th>
                            <th class="col-md-2">Count</th>
                            <th class="col-md-3">Stock Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vehicle in Model)
                        {
                            if (vehicle.VehicleTypeId == 2)
                            {
                                <tr>
                                    <td>
                                        @vehicle.ModelYear
                                    </td>
                                    <td>
                                        @vehicle.MakeName
                                    </td>
                                    <td>
                                        @vehicle.ModelName
                                    </td>
                                    <td>
                                        @vehicle.VehiclesInStock
                                    </td>
                                    <td>
                                        @String.Format("{0:C2}", vehicle.StockValue)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>